@import url("https://fonts.googleapis.com/css2?family=Inter");

/* ||RESET*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    height:auto;
}

/*||VARIABLES*/
:root{
    --GREY-800: #171616;
    --GREY-900: #000000;
    --GREY-700: #272727;
    --WHITE:#ffffff;
    --GREEN:#a3ed03; 
    
    /*TYPOGRAPHY*/
    --FF1:"Inter",sans-serif;

    /*MOBILE*/
    --TEXT-PRESET-1: semi-bold 24/100% var(--FF1);
    --TEXT-PRESET-2: regular 14/100% var(--FF1);
    --TEXT-PRESET-2-bold: bold 14/100% var(--FF1);
    
    /*TABLET*/
    /*DESKTOP*/

}

/*||UTILITY CLASSES*/
.offscreen{
    position:absolute;
    left:-10000px;
}


/* ||MOBILE FIRST DESIGN*/
body{
    background-color: var(--GREY-900);
    font-family: "Inter",sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color:var(--WHITE)
}
.social-links__container{
    width: 456px;
    height: 1024px;
    background-color: var(--GREY-800);   
    border-radius: 12px;
    margin-left : 156px;
    margin-left: 156px;
    align-items: center;
    background-color: red;
    
   
   

}
.social-links__wrapper, .social-links__container{
    margin: 206.5px 156px;   

}
.social-links__wrapper, .contents{
    margin: 40px;
    display: block;
    justify-items: center;
}
.profile-picture{
    align-items: center;
    border-radius: 100%;

}
