@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* ||RESET*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    height:auto;
}

/*||VARIABLES*/
:root{
    --GREY-800: #171616;
    --GREY-900: #000000;
    --GREY-700: #272727;
    --WHITE:#ffffff;
    --GREEN:#CAFF2C; 
    
    /*TYPOGRAPHY*/
    --FF1:"Inter",sans-serif;

    /*MOBILE*/
    --TEXT-PRESET-1: semi-bold 24/100% var(--FF1);
    --TEXT-PRESET-2: regular 14/100% var(--FF1);
    --TEXT-PRESET-2-bold: bold 14/100% var(--FF1);
    
    /*TABLET*/
    /*DESKTOP*/

}

/*||UTILITY CLASSES*/
.offscreen{
    position:absolute;
    left:-10000px;
}


/* ||MOBILE FIRST DESIGN*/
body{
    background-color: var(--GREY-900);
    font-family: "Inter",sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color:var(--WHITE)
}
.social-links__container{
    width: 327px;
    height: 579px;
    background-color: var(--GREY-800);   
    border-radius: 12px;
    margin-left : 156px;
    margin-left: 156px;
    align-items: center;     
  
}
.social-links__wrapper, .social-links__container{
    margin-left: 24px;
    margin-right: 24px;
    

}
.social-links__wrapper, .contents{
    margin: 40px;
    display: block;
    justify-items: center;
}
figure, img{
    align-items: center;
    border: 0px solid black;
    border-radius: 100%;
    width:88px;
    height: 88px;
}
figure,.social-links__wrapper{
    margin-top: 4opx;
}
.info, figure{
    margin:24px;
}

.location{
    color:var(--GREEN);
    font-size: var(--TEXT-PRESET-2);
    line-height: 150%;
}
.info{
    
    display: block;
    justify-items: center;
    text-align: center;
}
.description{
    display: inline;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-top: 24px;
  
}
.links{
    display: block;
    align-items: center;
    justify-items: center;
    margin-top: 24px;
   
}
.social-links{
    background-color: var(--GREY-700);
    border:none;
    border-radius: 8px;
    margin: 12px;
    padding: 10px;
    width: 279px;
    height: 45px;  
    align-items: center;
    text-align: center;
    justify-items: center;
    font-size: var(--TEXT-PRESET-2);
    position: relative;    
   
}

@media screen and (min-width:480px) {
    .social-links:hover{
        background-color:var(--GREY-700);
       
    }
    
}

/*||DESKTOP HOVER*/
@media screen and (min-width:992px) {
    .social-links:hover{
        background-color: var(--GREEN);
        color: black;
    }
    
}

